<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!--验证请求头参数截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.connie.api.interceptor.CheckParamsInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--验证签名拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.connie.api.interceptor.SignInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--获取用户登录信息的拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.connie.api.interceptor.OnlineUserInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--验证是否登录拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.connie.api.interceptor.AuthorizationInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 文件上传大小限制拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.connie.api.interceptor.FileUploadInterceptor">
                <!--限制最大文件为10M -->
                <property name="maxSize" value="10485760"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>